# Copy to licenses.env in this directory and fill in the values. licenses.env is
# git-ignored and is read by setup-theme.sh when it writes a theme's auth.json.
#
# The ACF Pro license key, used as the Composer username for
# connect.advancedcustomfields.com. Find it in the ACF account dashboard.
ACF_PRO_LICENSE=
